{% extends 'sistemaChamado/base.html'%}

{% block titulo %}Chamados{% endblock%}
{% block conteudo %}
{% if user.is_authenticated %}
<h3>Bem-vindo, {{user.username}}</h3><br>
{% block chamados %}
<ul class="nav nav-tabs">	
	<li id="todos"><a href="{% url 'index' %}">Inbox <span class="badge badge-primary badge-pill">{{ cont }}</span></a></li>
	<li id="nao_realizado" class="active"s><a href="{% url 'abertos' %}">Chamados não realizados <span class="badge badge-primary badge-pill">{{ cont_abertos }}</span></a></li>
	<li id="concluidos" ><a href="{% url 'concluidos' %}">Chamados Concluídos <span class="badge badge-primary badge-pill">{{ cont_concluidos }}</span></a></li>
</ul>
{% endblock %}
<br>
<table class="table table-hover">
	<thead class="thead-light" id="thead">
		<tr>
			<th>Código</th>
			<th>Assunto</th>
			<th>Prioridade</th>
			<th>Descrição</th>
			<th>Status</th>
			<th>Usuário</th>
			<th>Data</th>
			<th>Ação</th>
		</tr>	
	</thead>
	{% for chamado in chamados %}
	<tbody>
		<tr style="cursor:pointer;" onclick="location.href = '{% url 'atualizar.html' chamado.id %}';">
			<td>{{ chamado.id }}</td>
			<td>{{ chamado.assunto }}</td>
			<td>{{ chamado.prioridade }}</td>
			<td>{{ chamado.descricao }}</td>
			<td>{{ chamado.status }}</td>
			<td>{{ chamado.usuario }}</td>
			<td>{{ chamado.data }}</td>
			<td><form method="POST" action="{% url 'atualizar.html' chamado.id %}" class="post-form">{% csrf_token %}
				<input type="submit" value="Atualizar" class="btn btn-primary"></td>
			</form>
		</a></tr>
	</tbody>
	{% endfor %}
</table>       
{% else %}
<div class="container">
	<p>Você não está logado!</p>
	<a href="{% url 'login' %}">login</a>
</div>
{% endif %}
{% endblock %}