<!DOCTYPE html>
<html lang="pt-br">
<head>
	{% load crispy_forms_tags %}
	{% load staticfiles %}
	{% load static %}
	<meta charset="utf-8">
	<enctype="multipart/form-data">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
	<script src="{% static 'js/global.js' %}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<title>{% block titulo %}Base{% endblock %}</title>
</head>
<header>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="margin-bottom: 0px">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<span href="#" class="toggle-nav btn-nav" id="span">&#9776;</span>
			</li> 
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'index'%}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'chamados.html'%}">Novo Chamado</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="{% url 'usuarios.html'%}">Usuários</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'conta' user.id %}">{{ user.username }}</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"></a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{% url 'conta' user.id %}">Perfil</a>
					<a class="dropdown-item" href="#">Editar</a>
					<a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
				</div>
			</li>
			<li class="nav-item">
				<img class="img_tam" width="150px" height="150px" src="{{ user.imagem }}">
			</li>
		</ul>
	</nav>
</header>
<article id="wrapper">
	<section id="main">
		<nav id="nav" class="bg-dark">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link active" href="{% url 'chamados.html' %}">Realizar Novo Chamado</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{% url 'setores' %}">Setores</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'conta' user.id %}">Minha Conta</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'contato' %}">Contato</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Encerrar Sessão</a>
				</li>
			</ul>
		</nav>
		<section id="content">
			<body>
				<div class="container">
					{% block conteudo %}
					{% endblock %}
				</div>
			</body>
		</section>
	</section>
</article>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Lucas Wolf</small><br>
      <small>Code Complete in: <a href="www.github.com/mrwolfff">www.github.com/mrwolfff</a></small>
    </div>
  </footer>
</body>
</html>