{% extends 'sistemaChamado/base.html' %}

{% block titulo %}Minha Conta{% endblock %}

{% block conteudo %}


<div class="row">
	<div class="col-4">
		<img style="max-height: 150px; max-width: 150px;" src="{{ user.imagem}}">
	</div>
	<div class="col">
		<b>Usuario: </b>{{ user.username }}<br>
		<b>E-mail: </b>{{ user.email }}<br><br>
		<b>Setor: </b>{{ user.setor }}<br>
		<b>Data de Entrada: </b>{{ user.date_joined }}<br>
		<b>Admin: </b>{{ user.is_superuser }}<br>
	</div>

</div><br>
<div class="row">
	<div class="col-3">
	</div>
	<div class="col-3">
		<a href="{% url 'password_reset' %}"><button class="btn btn-primary">Trocar Senha</button></a>
	</div>
</div>
{% endblock %}